Outputfile/log/
.vscode/
!.vscode/
!.vscode/tasks.json
!.vscode/launch.json
.local/
Outputfile/test/
log/
bin/
Outputfile_Pec/
Outputfile/
obj/*
inputfile_Pec/
pythonbat/
figout/
numcheck_work/
triangle/*
!triangle/EAST/
!triangle/EAST/benchmark_tri.py
triangle/EAST/__pycache__/
callgrind.out*
*.h5
doc/
!CMakeLists.txt
!README.txt
!README.md
SOLPS_1D.tar.gz
